/* @font-face {
	font-family: 'HKGroteskWide-ExtraBold';
	src: url('~@/assets/fonts/HKGroteskWide-ExtraBold.woff') format('woff'), url('~@/assets/fonts/HKGroteskWide-ExtraBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'HKGrotesk-ExtraBold';
	src: url('~@/assets/fonts/HKGrotesk-ExtraBold.woff') format('woff'), url('~@/assets/fonts/HKGrotesk-ExtraBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Slab';
	src: url('~@/assets/fonts/Roboto-Slab-Medium.woff') format('woff'), url('~@/assets/fonts/Roboto-Slab-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('~@/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('~@/assets/fonts/MaterialIcons-Regular.woff') format('woff')
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
	font-size: inherit;
	line-height: inherit;
	vertical-align: top;
	text-transform: none!important;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #001d1d;
	margin: 0;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
}

.ascenseur {
	scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
	scrollbar-width: thin;
}

::placeholder {
	color: #aaa;
	opacity: 1!important;
}

input:disabled {
	-webkit-text-fill-color: #001d1d;
	opacity: 1;
}

b,
strong {
    font-weight: 700;
}

img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
}

[v-cloak] {
	display: none;
}

#app,
main {
	width: 100%;
	height: 100%;
}

#bouton {
    display: inline-block;
    text-align: center;
    line-height: 1;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
	padding: 1em 2em;
	border: 2px solid #00ced1;
	border-radius: 2em;
    background: #46fbff;
    cursor: pointer;
    user-select: none;
    transition: all ease-in 0.1s;
}

#bouton:hover {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	background: #fff;
}

/* Modale
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.conteneur-modale {
	position: fixed;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.modale {
	position: relative;
    background: #fff;
	width: 90%;
	max-width: 400px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale.transcodage {
	max-width: 300px;
}

.modale header {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.modale header .titre {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 20px;
	user-select: none;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.modale header .fermer {
	vertical-align: top;
	user-select: none;
	cursor: pointer;
	font-size: 24px;
	margin-right: 15px;
}

.modale .conteneur {
    position: relative;
	width: 100%;
	padding: 20px;
	overflow: auto;
    height: calc(100% - 45px);
}

.modale .conteneur p {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.5;
}

.modale .contenu {
	width: 100%;
	font-size: 0;
}

.modale .conteneur label {
	display: block;
	width: 100%;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 10px;
	user-select: none;
}

.modale .conteneur select,
.modale .conteneur input[type="password"],
.modale .conteneur input[type="text"] {
	display: block;
	width: 100%;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 7px 15px;
	line-height: 1.5;
	margin: 0 auto 20px;
	text-align: left;
}

.carte textarea:focus,
.modale .conteneur select:focus,
.modale .conteneur input[type="text"]:focus,
.modale .conteneur input[type="password"]:focus,
.modale .conteneur textarea:focus {
	border-color: #001d1d!important;
}

.modale .conteneur select {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625" /></svg>') center right no-repeat;
	padding-right: 30px;
}

.carte textarea,
.modale .conteneur textarea {
    background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
    max-width: 100%;
    width: 100%;
    resize: none;
	padding: 15px;
	margin: 0 auto 20px;
	text-align: left;
	line-height: 1.4;
    font-size: 16px;
}

.modale .conteneur .bouton {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	color: #001d1d;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	background: #00ced1;
	border-radius: 5px;
	letter-spacing: 1px;
	text-indent: 1px;
	user-select: none;
	transition: all ease-in 0.1s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.modale .conteneur .bouton:hover {
	color: #fff;
	background: #001d1d;
}

.modale .conteneur .actions {
	text-align: center;
	font-size: 0;
}

.modale .conteneur .actions .bouton:first-child {
    margin-right: 20px;
}

.modale .conteneur .actions .bouton:last-child {
    margin-right: 0;
}

.modale .conteneur .couleurs {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
	overflow: auto;
}

.modale .conteneur .couleurs span {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
	flex: 0 0 auto;
}

.modale .conteneur .couleurs span.icone {
	display: flex;
	width: 62px;
	height: 30px;
}

.modale .conteneur .couleurs span.icone label {
	font-size: 24px;
	width: 24px;
	margin-right: 8px;
	margin-bottom: 0;
	line-height: 30px;
}

.modale .conteneur .couleurs span input[type="color"] {
	width: 30px;
	height: 30px;
	padding: 0;
	border: none;
	cursor: pointer;
}

.modale .conteneur .couleurs span input[type="color"]::-moz-color-swatch {
	border: none;
	border-radius: 50%;
}

.modale .conteneur .couleurs span input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 50%;
}

.modale .conteneur .couleurs span input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

.modale .conteneur .couleurs span input[type="color"].selectionne::-moz-color-swatch {
	border: 2px solid #000;
}

.modale .conteneur .couleurs span input[type="color"].selectionne::-webkit-color-swatch {
	border: 2px solid #000;
}

.modale .conteneur .couleurs span.selectionne {
	border: 2px solid #000;
}

.modale .patienter {
	display: block;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
	line-height: 1.25;
}

#conteneur-message.conteneur-modale {
	z-index: 101;
}

#message.modale {
	max-width: 500px;
}

#message.modale .conteneur {
	padding: 30px 25px;
	text-align: center;
}

#message.modale .message {
	font-size: 18px;
	line-height: 1.5;
}

#message.modale .bouton {
	margin-top: 20px;
}

@keyframes fonduEntrant {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Notification
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.notification {
	font-size: 15px;
	width: 290px;
	margin-left: -145px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 10px 15px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 30px;
	animation: fonduEntrantNotification 0.4s;
}
  
@keyframes fonduEntrantNotification {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

/* Chargement
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.conteneur-chargement {
	font-size: 0;
	line-height: 1;
	text-align: center;
	margin-bottom: 10px;
}

.chargement {
	display: inline-block;
	border: 7px solid #ddd;
	border-top: 7px solid #00ced1;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: rotation 0.7s linear infinite;
}
  
@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#conteneur-chargement {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	z-index: 1000;
}

#conteneur-chargement.chargement-cartes {
	background: transparent;
}

#chargement {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.spinner {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.spinner div {
	transform-origin: 40px 40px;
	animation: spin 1.2s linear infinite;
}

.spinner div:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 5px;
    height: 25px;
	border-radius: 20%;
	background: #00ced1;
}

.spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes spin {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-height: 500px) {
	.modale {
		height: 90%;
	}
}
